#poster {
    margin: 0;
    padding: 40px 0;
}

.container {
    width: 90%;
    max-width: 1450px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 25px;
}

.tours {
    display: flex;
    justify-content:center;
    gap: 30px;
    flex-wrap: wrap;
}

.info {
    background-color: transparent;
    border-radius: 10px;
    border: #000000;
    overflow: hidden;
    width: 25%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

#container {
    margin-bottom: 15px;
}

#container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

figcaption {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    padding-top: 10px;
}



h4 {
    font-size: 15px;
    font-weight: bold;
    color: #030303;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.carrossel-container {
    width: 100%;
    max-width: 1920px;
    min-width: 100%;
    border: 0.2px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.carrossel img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}
@media (max-width: 768px) {
    .tours {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 80%; 
        margin-bottom: 20px;
    }

    figcaption {
        font-size: 13px;
    }
}